

.AboutMe{
    position: relative;
    z-index: 1;
    color: white;
    
    width: 100%;
    
    
}
video{
    position: fixed;
}
.content{
    font-size: 3rem;
    background-color: rgb(20, 20, 20,0.7);
    
    position: relative;
    top:0vh;
    
    padding: 30vh 0vh 30vh 30vh;
    
    
}
.frontendJourney{
    margin-top: 2rem;
    margin-left: 10vw;
    font-size: 1.3rem;
    font-weight: 400;
}
.frontendJourney>:nth-child(1){
    margin-left: 25vw;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 4rem;
    
}
.allAboutMe{
    display: flex;
    margin-top: 10vw;
    background-color: rgb(20, 20, 20,0.7);
   
    padding-left: 20vw;
    gap:10vw;
    height: 75vh;
}
.myNameDetails{
    font-size: 2.2rem;
    font-weight: 450;
}
.allAboutMe>:not(:nth-child(1)){
    font-size: 1.2rem;
    
}
.where>:nth-child(1){
    color:rgb(169, 169, 169);
    
}
.Reason>:nth-child(1){
    color:rgb(169, 169, 169);
}
.Current>:nth-child(1){
    color:rgb(169, 169, 169);
}
.description>*{
    margin-bottom: 2rem;
    
}
.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.Movinglogo{
    animation: Rotate 4s linear  infinite  ;
    position: absolute;
    top:95vw;
    left:21vw;
    height: 1%;
    width: 6.4%;
    
    
}
@keyframes Rotate {
    0%{transform: rotate(360deg);}
    100%{transform: rotate(0deg);}
}
.Movinglogo>span{
    transform-origin: 40px 30px ;
    position: absolute;
    
}
.AllLogo{
    padding-top: 15rem;
    background-color: rgba(89, 89, 89, 0.8);
    height: 30vh;
    padding-bottom: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap:4rem;
    margin-top: 2rem;
}
.backgroundImage{
    width: 97vw;
    height:94vh;
    background-image: url("D:/react/portfolio/src/Download-premium-image-of-Olive-green-wall-background-by-Busbus-about-green-background_-olive-green-.jpg");
    background-size: fill;
    margin-left: 2rem;
    
    position: relative;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    
    
}
.Approach{
    display: flex;
    justify-content: center;
    height:5rem;
    font-size: 2rem;
    word-spacing: 1%;
    margin-top: 2rem;
}
.backgroundImage>:nth-child(1){
    font-size: 2rem;
}
.backgroundImage>:nth-child(2){
    font-size: 1.1rem;
    padding-left: 18vw;
    padding-right: 18vw;
    margin-top: 5vw;
    line-height: 2rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
}
.CLientGive{
    
    display: flex;
    justify-content: center;
    margin-top: 20vw;
    font-size: 2.3rem;
    
}
.card1{
    height: 80vh;
    background-image: url("D:/react/portfolio/src/5328478.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top:6rem;
    width: 90vw;
    left:5vw;
    border-radius: 2rem;
    filter: brightness(0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.card1>span{
    font-size: 3rem;
    color: rgb(75, 75, 75);
    font-weight: 700;
    margin: 5rem 2rem 0rem 2rem;
   
}
.card1>:nth-child(2){
    font-size: 1.4rem;
    color: rgb(90, 90, 90);
    font-weight: 700;
    margin: 2rem 2rem 0rem 2rem;
}
.card2{
    height: 80vh;
    background-image: url("D:/react/portfolio/src/13783.jpg") ;
    position: sticky;
    background-size: cover;
    background-repeat: no-repeat;
    top:6rem;
    width: 90vw;
    left:5vw;
    border-radius: 2rem;
    filter: brightness(0.8);
    filter: contrast(0.85);
}
.card2>span{
    font-size: 3rem;
    color: rgb(75, 75, 75);
    font-weight: 700;
    margin: 10rem 4rem 0rem 4rem;
   
}
.card2>:nth-child(2){
    font-size: 1.4rem;
    color: rgb(90, 90, 90);
    font-weight: 700;
    margin: 5rem 2rem 0rem 2rem;
}
.card3{
    height: 80vh;
    background-image: url("D:/react/portfolio/src/5364112.jpg");
    position: sticky;
    background-size: cover;
    background-repeat: no-repeat;
    top:6rem;
    width: 90vw;
    left:5vw;
    border-radius: 2rem;
    filter: brightness(0.7);
    
}
.card3>span{
    font-size: 3rem;
    color: rgb(75, 75, 75);
    font-weight: 700;
    margin: 10rem 4rem 0rem 4rem;
   
}
.card3>:nth-child(2){
    font-size: 1.4rem;
    color: rgb(90, 90, 90);
    font-weight: 700;
    margin: 5rem 2rem 0rem 2rem;
}
.whatWork{
    
    margin-top: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2.3rem;
}
.TypesOfWorks{
    padding-top: 4rem;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 2rem 15vw;
    background-color: #181818;
    width: 100%;
    margin-top: 3rem;
    height: 65vh;
    font-size: 1rem;
    white-space: nowrap;
    
    
}
.TypesOfWorks>*{
    height: fit-content;
    border-bottom: 1px solid rgb(162, 162, 162);
    color: rgb(225, 223, 223);
    padding-bottom: 1rem;
}
