.ContactContainer{
    background-color: rgb(20, 20, 20,0.7);
    height: 130vh;
    color: white;
}
.available{
    position: relative;
    top:30vh;
    left: 40vw;
    font-size: 1.3rem;
}
.WorkTogether{
    position: relative;
    top:32vh;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    border-bottom: 1px solid rgb(195, 195, 195);
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 5vh;

}
.Email{
    position: relative;
    top:38vh;
    left: 43vw;
    font-size: 1.6rem;
}
.msg{
    font-size: 1.1rem;
    color: rgb(156, 156, 156);
}
.AllInput{
    position: relative;
    top:40vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 85vw;
    height: 43vh;
}
.Name{
    width: 39vw;
    margin-right: 1rem;
    height: 6vh;
    margin-top: 2rem;
    outline: none;
    border: none;
    border-radius: 0.2rem ;
    background-color: rgb(35, 35, 35);
    padding-left: 1rem;
    font-size: 1rem;
}
.EmailInput{
    width: 39vw;
    height: 6vh;
    margin-top: 2rem;
    outline: none;
    border: none;
    border-radius: 0.2rem ;
    background-color: rgb(35, 35, 35);
    padding-left: 1rem;
    font-size: 1rem;
}
.descriptionInput{
    width: 80.7vw;
    
    height: 7vh;
    outline: none;
    border: none;
    border-radius: 0.2rem ;
    background-color: rgb(35, 35, 35);
    color: white;
    padding-left: 1rem;
    padding-bottom: 6rem;
}
.ContactMe{
    width: 81.7vw;
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    height: 6.5vh;
    font-size: 1rem;
}
.ContactMe:hover{
    background-color: rgb(226, 148, 2);
    cursor: pointer;
}